h1{
    font-family: "Candara Light";
    color: brown;
    font-size: larger;
    width: 97%;
    height: auto;
    border: 4px dashed saddlebrown;/* dotterd, dashed, double, outlined*/
    background-color: antiquewhite;/*taustavärv*/
    border-radius: 30px;
    padding: 40px; /*borderi ja teksti vahe*/
}
body{
    font-size: large;
    font-family : cursive;
    text-decoration: none;
    background-color: khaki;/*taustavärv*/

}
div#ala{
    background-color: navajowhite;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 200px;
    border: 3px dashed saddlebrown;
    padding-left: 5px;
}
header, footer{
    font-family: "Candara Light";
    font-size: medium;
    width: 97%;
    border: 4px dashed saddlebrown;/* dotterd, dashed, double, outlined*/
    background-color: antiquewhite;/*taustavärv*/
    border-radius: 10px;
    padding: 1px; /*borderi ja teksti vahe*/
}
footer{
    bottom: 0;
    width: 95.5%;
}

img{

}

a{
    color: black;
    text-decoration: none;
}