body{
    background-color: peru;
    bottom: 0;
}

div{
    text-decoration: none;
}
tr{

}
table{
    height: 100%;
}
td{
    border: 2px solid goldenrod;
    border-radius: 10px;
    text-align: center;
    background-color: saddlebrown;
    color: gold;
    font-weight: bold;
    text-decoration: none;
    width: 20%;
}
a{
    text-decoration: none;
    color: goldenrod;
}
footer{
    bottom: 0;
}
