body{
    background-color: peru;
    height: 100%;
    border: 2px black;
    font-size: larger;
}
h1{
    color: gold;

}
header{
    background-color: saddlebrown;
    padding: 10px;
    margin-left: 0;
    border-right: 10px solid rgb(170, 129, 24);
    border-bottom: 10px solid rgb(151, 114, 22);
    border-left: 10px solid gold;
    border-top: 10px solid rgb(254, 234, 123);
}

main{
    height: 50%;
}

div{
    text-decoration: none;
}
tr{

}
table{
    padding: 15px;
    background-color: rgb(112, 53, 12);
    border-right: 10px solid rgb(170, 129, 24);
    border-bottom: 10px solid rgb(151, 114, 22);
    border-left: 10px solid gold;
    border-top: 10px solid rgb(254, 234, 123);
}
td{
    border: 2px solid goldenrod;
    border-radius: 10px;
    text-align: center;
    background-color: saddlebrown;
    color: gold;
    font-weight: bold;
    text-decoration: none;
    width: 10%;
    height: 20%;
    padding: 15px;
}
a{
    text-decoration: none;
    color: gold;
}
footer{
    bottom: 0;
}
tbody{
    height: 50%;

}
