table{
    width: 50%;
    height: 175px;
    border: 1px solid black;
}
td{
    border: 1px solid black;
    height: 40px;
}
#parem1{
    text-align: right;
}
#parem2{
    text-align: right;
}
#vasak1{
    text-align: left;
}
#vasak2{
    text-align: left;
}
#keskmine1{
    text-align: center;
}
#keskmine2{
    text-align: center;
}
#leht{
    text-align: right;
    padding: 80%;
}