fieldset{
    width: 335px;
    border-radius: 10px;

}
legend,label{
    font-weight: bold;
    font-family: verdana sans-serif;
}
input[type=text], input[type=number]{
    padding: 1%;
    border-radius: 10px;
    border-bottom: 1px solid orangered;
    border-left: 1px solid orangered;
}
input[type=radio]+label:hover{
    font-size: 20px;
    background-color: goldenrod;
    border-radius: 10px;
    padding: 1%;

}
