/*********************Table id=lihtne ***************************/
#lihtne{
    width: 60%;
    border: 1px solid black;
    height: 200px;

    /*border-collapse: collapse;/*üks joon bordriks*/
}

#lihtne td{
    border: 1px solid black;
    text-align: center;
    font-size: larger;
}

#keeruline1{
    width: 50%;
    border: 1px solid black;
    height: 200px;
    /*border-collapse: collapse;/*üks joon bordriks*/
}
#keeruline1 td{
    border: 1px solid black;
    text-align: center;
}

/*keeruline 2*/
#keeruline2{
    width: 50%;
    border: 1px solid black;
    height: 200px;
    /*border-collapse: collapse;/*üks joon bordriks*/
}
#keeruline2 td{
    border: 1px solid black;
    text-align: center;
}
/*keeeruline 3*/

#keeruline3{
    width: 50%;
    border: 1px solid black;
    height: 200px;
    /*border-collapse: collapse;/*üks joon bordriks*/
}
#keeruline3 td{
    border: 1px solid black;
    text-align: center;
}

/*keeruline 4*/

#keeruline4{
    width: 30%;
    border: 1px solid black;
    height: 300px;
    /*border-collapse: collapse;/*üks joon bordriks*/
}
#keeruline4 td{
    border: 1px solid black;
    text-align: center;
}
#keeruline5{
    width: 45%;
    border: 1px solid black;
    height: 360px;
    /*border-collapse: collapse;/*üks joon bordriks*/
}
#keeruline5 td{
    border: 1px solid black;
    text-align: center;
}
#lisa{
    width: 60%;
    border: 1px solid black;
    height: 200px;
    border-collapse: collapse;/*üks joon bordriks*/
}
#lisa td {
    /*border: 1px solid black;*/
    text-align: center;
}


/*pseudostiilide kasutamine*/
/*Eesti NSV lipp*/
#lihtne tr:nth-child(1) td:nth-child(1) { /*1. rida, 1. lahter*/
    color: gold;
}
#lihtne tr:nth-child(1) td:nth-child(1){/*1. rida, 1. lahter*/
   background-color: red;
}
#lihtne tr:nth-child(1) td:nth-child(2){/*1. rida, 2. lahter*/
    background-color: red;
}
#lihtne tr:nth-child(2) td:nth-child(1){/*2. rida, 1. lahter*/
    background-color: blue;
}
#lihtne tr:nth-child(2) td:nth-child(2){/*2. rida, 2. lahter*/
    background-color: blue;
}

/*keeruline 1*/
#keeruline1 tr:nth-child(1) td:nth-child(1) { /*1. rida, 1. lahter*/
    color: gold;
}
#keeruline1 tr:nth-child(1) td:nth-child(1){/*1. rida, 1. lahter*/
    background-color: red;
}
#keeruline1 tr:nth-child(1) td:nth-child(2){/*1. rida, 2. lahter*/
    background-color: red;
}
#keeruline1 tr:nth-child(2) td:nth-child(1){/*2. rida, 1. lahter*/
    background-color: blue;
}
#lihtne tr:nth-child(2) td:nth-child(2){/*2. rida, 2. lahter*/
    background-color: blue;
}
/*keeruline 4*/
#keeruline4 tr:nth-child(1) td:nth-child(1) { /*1. rida, 1. lahter*/
    background-color: gold;
}
#keeruline4 tr:nth-child(2) td:nth-child(1){/*1. rida, 1. lahter*/
    background-color: red;
}
#keeruline4 tr:nth-child(2) td:nth-child(2){/*1. rida, 2. lahter*/
    background-color: olivedrab;
}
#keeruline4 tr:nth-child(2) td:nth-child(3){/*2. rida, 1. lahter*/
    background-color: blue;
}
#keeruline4 tr:nth-child(3) td:nth-child(1){/*2. rida, 1. lahter*/
    background-color: blueviolet;
}
#keeruline4 tr:nth-child(3) td:nth-child(2){/*2. rida, 1. lahter*/
    background-color: darkorange;
}
#keeruline4 tr:nth-child(3) td:nth-child(3){/*2. rida, 1. lahter*/
    background-color: dodgerblue;
}
#keeruline4 tr:nth-child(4) td:nth-child(1){/*2. rida, 1. lahter*/
    background-color: fuchsia;
}
#keeruline4 tr:nth-child(4) td:nth-child(2){/*2. rida, 1. lahter*/
    background-color: lime;
}
#keeruline4 tr:nth-child(5) td:nth-child(1){/*2. rida, 1. lahter*/
    background-color: peru;
}
#keeruline4 tr:nth-child(6) td:nth-child(1){/*2. rida, 1. lahter*/
    background-color: deeppink;
}

/********Keruline 5**********/

#keeruline5 tr:nth-child(1) td:nth-child(1) { /*1. rida, 1. lahter*/
    background-color: gold;
}
#keeruline5 tr:nth-child(1) td:nth-child(2) { /*1. rida, 2. lahter*/
    background-color: deeppink;
}
#keeruline5 tr:nth-child(1) td:nth-child(3) { /*1. rida, 3. lahter*/
    background-color: chocolate;
}
#keeruline5 tr:nth-child(2) td:nth-child(1) { /*1. rida, 1. lahter*/
    background-color: lime;
}
#keeruline5 tr:nth-child(2) td:nth-child(2) { /*1. rida, 1. lahter*/
    background-color: red;
}
#keeruline5 tr:nth-child(3) td:nth-child(1) { /*1. rida, 1. lahter*/
    background-color: aqua;
}
#keeruline5 tr:nth-child(3) td:nth-child(2) { /*1. rida, 1. lahter*/
    background-color: coral;
}
#keeruline5 tr:nth-child(4) td:nth-child(1) { /*1. rida, 1. lahter*/
    background-color: cornflowerblue;
}
#keeruline5 tr:nth-child(5) td:nth-child(1) { /*1. rida, 1. lahter*/
    background-color: goldenrod;
}
#keeruline5 tr:nth-child(5) td:nth-child(2) { /*1. rida, 1. lahter*/
    background-color: blueviolet;
}
#keeruline5 tr:nth-child(5) td:nth-child(3) { /*1. rida, 1. lahter*/
    background-color: dodgerblue;
}
#keeruline5 tr:nth-child(6) td:nth-child(1) { /*1. rida, 1. lahter*/
    background-color: crimson;
}

/*********lisaülkesanne*******/
#lisa tr:nth-child(1) td:nth-child(1) {
    background-color: crimson;
}

#lisa tr:nth-child(1) td:nth-child(5) {
    background-color: crimson;
}

#lisa tr:nth-child(2) td:nth-child(2) {
    background-color: crimson;
}

#lisa tr:nth-child(2) td:nth-child(4) {
    background-color: crimson;
}

#lisa tr:nth-child(3) td:nth-child(3) {
    background-color: crimson;
}

#lisa tr:nth-child(4) td:nth-child(2) {
    background-color: crimson;
}

#lisa tr:nth-child(4) td:nth-child(4) {
    background-color: crimson;
}

#lisa tr:nth-child(5) td:nth-child(1) {
    background-color: crimson;
}

#lisa tr:nth-child(5) td:nth-child(5) {
    background-color: crimson;
}





